@media screen and (min-width:1100px){
  #home {
    clip-path: url(#cache);
  }
  #red {
    fill: none;
    opacity: 0.15;
    stroke: #CE1B5F;
    stroke-width: 12;
    stroke-miterlimit:10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
  }
  #blue {
    fill: none;
    opacity: 0.15;
    stroke: #06A1C4;
    stroke-width: 12;
    stroke-miterlimit:10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  #light-blue {
    fill: none;
    opacity: 0.15;
    stroke: #06A1C4;
    stroke-width: 6;
    stroke-miterlimit:10;
    stroke-dasharray: 200;
    stroke-dashoffset: 800;
    animation: draw 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;    
  }
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
   }
      }
  
  @keyframes show {
    0% {
      opacity: 0.15;
   }
    50% {
      opacity: 0.2;
   }
    100% {
      opacity: 0.15;
   }
      }
  #text {
    position:absolute;
    top:400px; left:600px;
    margin: 2em 1;
    padding: 1.5em 1em;
    border: solid 5px #95ccff;
    border-radius: 20px;
    font-size: 25px;
    background: #FFF;
}
#text .box-title {
    position: absolute;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;
}
  /* 横が1200px以上(PC) */
 /* body{
    height: 80%; width:80%;
  } */
  canvas{
    position:absolute;
    top:10px; right:300px;
  }
  .button {
    position:absolute;
    top:570px;
    left:600px;
    font-weight: bold;
    border: none;
    color: #5472cd;
    text-decoration: none;
    outline: none;
  }
  .button::after {
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-hover);
    padding: .5em 4em;
    color: #5472cd;
    transform: rotateX(-360deg);
    transition: all .4s;
    opacity: 0;
  }
  
  .button span {
    display: inline-block;
    transition: all .4s;
  }
  .button:hover::after {
    transform: rotateX(0);
    opacity: 1;
  }
  .button:hover span {
    transform: rotateX(-360deg);
    opacity: 0;
  }
  .Endbutton {
    position:absolute;
    top:570px;
    left:900px;
    font-weight: bold;
    border: none;
    color: #5472cd;
    text-decoration: none;
    outline: none;
  }
  .Endbutton::after {
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-hover);
    padding: .5em 4em;
    color: #5472cd;
    transform: rotateX(-360deg);
    transition: all .4s;
    opacity: 0;
  }
  .Endbutton span {
    display: inline-block;
    transition: all .4s;
  }
  .Endbutton:hover::after {
    transform: rotateX(0);
    opacity: 1;
  }
  .Endbutton:hover span {
    transform: rotateX(-360deg);
    opacity: 0;
  }
  #Mainimg{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position:absolute; 
    top:70px; left:750px;
  }
}

@media screen and (max-width:1100px){
  /* 横が1200px以下(スマホ) */

  html {  
    background: radial-gradient(circle, #fff 0%, #bbb 85%) ; background: -webkit-radial-gradient(circle, #fff 0%, #bbb 85%); 
  }
  
  body{
    height: 120%; width:120%;
  }
  
  canvas{
    height: 100%; width:100%;
    position:relative;
    top:200px; left:85px;
  }
  
  p{font-family: 'Verdana',sans-serif;}
  
  #text1{
    font-size: 200%;
    border-bottom: solid 3px #cce4ff;
    position: relative;
    position:absolute;
    top:1800px; left:300px;
  }
  
  #test1:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #5472cd;
    bottom: -3px;
    width: 20%;
  }
  
  #text2{
    border-bottom: solid 3px #cce4ff;
    position: relative;
    font-weight: bold;
    font-size: 200%;
    color: #03427e;
    position:absolute;
    top:1800px; left:600px;
  }
  #test2:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #5472cd;
    bottom: -3px;
    width: 20%;
  }
  #text3{
    position:absolute;
    top:1900px; left:300px;
    font-size: 200%;
  }
  
  
  .button {
    font-size: 50px;
    position:absolute;
    top:1800px;
    left:500px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding: .5em 4em;
    border: none;
    color: #5472cd;
    text-decoration: none;
    outline: none;
  }
  .button::after {
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-hover);
    padding: .5em 4em;
    color: #5472cd;
    transform: rotateX(-360deg);
    transition: all .4s;
    opacity: 0;
  }
  
  .button span {
    display: inline-block;
    transition: all .4s;
  }
  .button:hover::after {
    transform: rotateX(0);
    opacity: 1;
  }
  .button:hover span {
    transform: rotateX(-360deg);
    opacity: 0;
  }

  .Endbutton {
    font-size: 50px;
    position:absolute;
    top:1900px;
    left:500px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding: .5em 4em;
    border: none;
    color: #5472cd;
    text-decoration: none;
    outline: none;
  }
  .Endbutton::after {
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-hover);
    padding: .5em 4em;
    color: #5472cd;
    transform: rotateX(-360deg);
    transition: all .4s;
    opacity: 0;
  }
  
  .Endbutton span {
    display: inline-block;
    transition: all .4s;
  }
  .Endbutton:hover::after {
    transform: rotateX(0);
    opacity: 1;
  }
  .Endbutton:hover span {
    transform: rotateX(-360deg);
    opacity: 0;
  }
  
  #Mainimg{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position:absolute; 
    top:1200px; left:400px;
  }
}